
/*--------------------------------------few general settings--------------------------------------------------*/

body{
	background-color: #0C1027;
}

a{
	text-decoration: none;
	color: white;
}

main{
	display: inline-block;
	width: 67vw;
	height: auto;
}

button:focus, input:focus {
	outline: none;
}




/*-----------------------------------------list settings--*/

.list{
	visibility: hidden;
	display: block;
	min-width: 180px;
	width: auto;
	height: auto;
	position: absolute;
	list-style: none;
	z-index: 2;
	background-color: white;
	padding-left: 0px;
}

.list:target {
	visibility: visible;
}


.list-item {
	width: auto ;
	height: auto;
	padding: 5px;
	color: black;
	font-size: 0.8rem;
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 5px;
	text-align: left;
}

.list-item span{
	margin-left: 10px;
}

.cross-btn {
	float: right;
	color: black;
	font-size: 1rem;
}


/*--------------------------------------------------------------navbar---------------------------------------------------------*/

.nav{
	width: inherit; 
	height: 4vh;
	padding: 1% 1.8%;
	margin:0;
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
}

#nav-left{
	display: flex;
}

/*----styling of "favourites"*/

.nav span {  
	margin-left: 8.5%;
	font-size: 1rem;
	font-family: sans-serif;
	letter-spacing: 0.05rem;
}

.studio-name {
	margin-left: 10px;
	margin-top: 5px;
	color: white;
	font-family: sans-serif;
	letter-spacing: 0.02rem;
	font-size: 1rem;
}

.nav i {
	font-size: 2.8rem;
	color: white;
}

#nav-right{
	display: flex;
	margin-left:45%;
}

#nav-right form {
	display: inline-block;
}

#nav-right i {
	font-size: 1.3rem;
	padding: 0 ;
}

#nav-right button {
	background-color: #12193E;
	padding: 0 ;
	padding-left: 3px;
	height: 1.9rem;
	width: 2rem;
	border: none;
}

.s-icon{
	border-bottom-left-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
}

.mic{
	border-bottom-right-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.search-bar{
	background-color: #12193E;
	border: 0px solid transparent;
	color: white;
	padding: 6px;
	padding-left: 8px;
	font-size: 1rem;
	width: 17rem;
}

#nav-right .bell-icon {
	margin-left: 40px;
	font-size: 1.3rem;
	margin-top: 5px;
}

.profile img {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-left: 35px;
	margin-right: 20px;
	margin-top: -10px;
}

.q-h{
	display: none;
}

/*nav bar ends*/

/*-----------------------------------------------main section--------------------------------------------------------------------------*/

/*------------------------------------------------- 1. categories*/

.categories{
	width: 63vw;
	height: auto;
	margin-left: 5%;
	margin-top: 4%;
	display: flex;
	justify-content: flex-start;
}

.category{
	margin-right: 1.35rem;
	height: 14.5rem;
	width: 32%;
	transition: all ease-in-out;
	transition-duration: 0.2s;
	background-size: cover;
	background-position: center;
	min-width: 200px;
}

.category:hover{
	transform: scaleX(1.3) scaleY(1.15);
	
}

/*-------------------------------------------- 2. latest-releases */

.latest-releases{
	width: 63vw;
	height: auto;
	position: relative;
	margin-left: 5%;
	margin-top: 4%;
}

.songs {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.songs div{
	display: inline-block;
}

.heading {
	font-size: 1.3rem;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}

.release-song{
	position: relative;
	width: 48%;
	height: auto;
	margin:5px 5px;
	margin-left: 0;
	margin-bottom: 0;
}

.rel-song{
	color: white;
	font-size: 2rem;
	background-size: cover;
	background-position: center;
	width: 5rem;
	height: 5rem;
	margin: 10px;
	margin-left: 0;
}

.play{
	font-size: 2rem;
	top:30px;
	left: 25px;
	position: absolute;
	color: transparent;
}

.rel-song:hover{
	background-color: grey;
	opacity: 0.8;
}

.rel-song:hover a{
	color: white;
} 


.song-details{
	display: inline-block;
	color: white;
	vertical-align: top;
	margin-top: 25px;
	margin-left: 5px;
	font-family: sans-serif;
}

.song-details p {
	margin-top: 10px;
	font-size: 0.7rem;
	color: #9B9C9F;
}

.more-details {
	display: inline-block;
	vertical-align: top;
	float: right;
	color: white;
	font-size: 0.8rem;
}


.btn{
	float: right;
	background: transparent;
	border: 0px solid transparent;
	color: white;
	cursor: pointer;
}

.btn i{
	font-size: 1rem;
}


.btn:focus .list{
    visibility: visible;
}

/*---------------------------------------------------------3. popular artists*/

.popular-artists {
	width: 63vw;
	height: auto;
	position: relative;
	margin-left: 5%;
	margin-top: 4%;
}

.artists {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-top: 10px;
}

.artistImg {
	border-radius: 100%;
	width:8rem;
	height:8rem;
	background-size: cover;
	background-position: center;
}

.artistImg:hover {
	background-color: grey;
	opacity: 0.5;
}

.artistImg:hover a{
	color: white;
}

/*-------------------4. music acc to mood---------------*/

.music-stations {
	width: 63vw;
	height: auto;
	position: relative;
	background-color: #101642;
	margin-left: 5%;
	margin-top: 4%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	min-width: 700px;
}

.stn-types{
	padding: 15px 0 ;
	width:8rem;
	height:8rem;
}

.stn-types img {
	width: inherit;
	height: inherit;
	border-radius: 100%;
	background-position: center;
} 

/*----------------------------------------------------------------music types--------*/

.stn-div{

	width: 63vw;
	height: auto;
	position: relative;
	background-color: transparent;
	margin-left: 5%;
	margin-top: 4%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-right: 1rem;
	color: white;
	min-width: 700px;
}

.genre{
	position: relative;
	background: linear-gradient(to bottom,#C99460,#A8414D);
	width: 40%;
	height: 10rem;
	overflow: hidden;
}

.two{
	background: linear-gradient(to bottom,#75CCF3,#526CC4);
}

.three{
	background: linear-gradient(to bottom,#9B95D3,#826C99);
}

.genre p {
	left: 20%;
	position: absolute;
	top:15%;
	font-size: 2.5rem;
	color: white;
	font-family: sans-serif;
	font-weight: 500;
}

.genre img{
	height: 100%;
	width: 100%;
	opacity: 0.5;
	transition: 0.2s ease-in-out ;
}

.genre img:hover{
	transform: scale(1.2);
}

/*----------------------------------------------------------------6. latest english */

.latest-eng-hindi{
	width: 63vw;
	height: auto;
	position: relative;
	margin-left: 5%;
	margin-top: 4%;
	min-width: 700px;
}

.all-songs{
	display: flex;
	overflow-y:hidden;
	overflow-x: scroll;
	scroll-behavior: smooth;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}

.all-songs::-webkit-scrollbar{
	display: none;
}

.song img {
	border-radius: 4%;
	width:8rem;
	height:8rem;
	min-width: 8rem;
	margin-right: 15px;
}

.song-name {
	display: block;
	color: white;
	font-size: 0.9rem;
	margin-top: 5px;
	font-weight: 500;
	font-family: 'Noto Sans JP', sans-serif;
	overflow:hidden;
}

.song-date {
	display: block;
	color: #9B9C9F ;
	font-size: 0.8rem;
	margin-top: 4px;
	font-family: 'Noto Sans JP', sans-serif;
	overflow: hidden;
}


/*--------------------------------------------------------------Queue section----------------------------------------------------------*/

aside{
	display: inline-block;
	width: 30vw;
	height: auto;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 10px;
}

.queue-header{
	float: left;
	width: inherit;
}

.queue-header > span {
	font-size: 1.5rem;
	color: white;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 800;
	padding: 5px;
}

.queue-dropdown {
	display: inline-block;
	float: right;
	margin-right: 15%;
	margin-top: 0.5rem;
}

.queue-dropdown > a{
	background: transparent;
	font-size: 1rem;
	color: white;
	border: 0px solid transparent;
	font-family: 'Noto Sans JP', sans-serif;
}

.list2{
	visibility: hidden;
	display: block;
	min-width: 100px;
	width: auto;
	height: auto;
	position: absolute;
	list-style: none;
	z-index: 2;
	background-color: white;
	padding-left: 0px;
	margin-right: 10px;
	margin-left: -20px;
}

.list2:target {
	visibility: visible;
}


.list-item2 {
	width: auto ;
	min-width: 150px;
	height: auto;
	padding: 5px;
	color: black;
	font-size: 0.9rem;
	margin-left: 0;
	margin-bottom: 5px;
	font-weight: 600;
	text-align: left;

}

.btn-2{
	float: right;
	background: transparent;
	border: 0px solid transparent;
	color: white;
	cursor: pointer;
	font-size: 1rem;
	margin-top: 5px;
}


.btn-2:focus .list2
{
    visibility: visible;

}

.h-song-list {
	width: inherit;
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	overflow-x: hidden;
	overflow-y: scroll;
}

.h-song-list::-webkit-scrollbar{
	display: none;
}

/*----------------------------------------------queue list---------------*/

.queue-list{
	width: 25vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}

.queue-list::-webkit-scrollbar{
	display: none;
}

.list-item3 {
	display: block;
	width: 100%;
}

.list-item3 div {
	display: inline-block;
}

.rp-img {
	height: 5rem;
	width: 5rem;
	background-size: cover;
	margin-top: 7%;
	margin-right: 3%;
	margin-left: -3%;
}
.song-det {
	margin-left: 3%;
	font-family: sans-serif;
	vertical-align: top;
	color: white;
	margin-top: 4%;
}


.song-det h3 {
	margin-bottom: 5%;
}


.more-det2 {
	margin-left: 12%;
	float: right;
	margin-top: 12%;
}

.heart{
	float: right;
	font-size: 1rem;
}

/*-----------------------------------------------------footer--------------------------------------------------------*/

.footer {
	width: 100%;
	height: 15vh;
	margin: 0 -8px;
	background-color: #282729;
	visibility: hidden;
	position: fixed;
	bottom: 0;
	color: white;
	font-family: sans-serif;
}

.footer:target {
	visibility: visible;
}


.footer div {
	display: inline-block;
	vertical-align: top;
}

.play-song{
	margin-top: 1%;
	margin-left: 3%;
	width: 26%;
}

.song-img {
	height: 5.25rem;
	width: 5.25rem;
	background-image: url(images/letMeLoveYou.jpg);
	background-size: cover;
	background-position: center;
}

.s-det{
	font-family: 'Noto Sans JP',  sans-serif;
	margin-left: 2.5%;
}

.player{
	width: 40%;
	margin-left: 10%;
}

.p1 {
	margin-left: 16%;
	font-size: 1.5rem;
}

.s-det p{
	font-size: 1.05rem;
}

.slidecontainer{
	display: inline-block;
	width: 55%;
	margin-top: 0;
}

.slider {
	width: 100%;
}

.more-options{
	font-size: 1.2rem;
}

.slider2 {
	width: 50%;
}

/*----------------------------------media queries-----------------*/

@media screen and (max-width: 1450px){
	#nav-right{
		margin-left: 30%;
	}

	aside{
		width: 25vw;
	}
}

@media screen and (max-width:1280px){
	#nav-right{
		margin-left: 32%;
	}

	.search-bar{
		width: 12rem;
	}

}

@media screen and (max-width: 1180px){
	.queue2{
		display: none;
	}

	main{
		width: 90vw;
	}

	.categories , .latest-eng-hindi, .stn-div, .popular-artists, .latest-releases , .music-stations{
		width: 100%;
	}

	.q-h{
		display: inline-block;
	}

	.fav{
		display: none;
	}

	.queue2:target{
		width: 96%; 
		z-index: 2;
		top:75px;
		left: 25px;
		display: block;
		height: auto;
		position: absolute;
		background-color: #0C1027;
		min-width: 720px;
		padding-top: 5%;
	}

	.nav{
		margin-bottom: 15%;
	}

	.queue-header{
		width: 70%;
	}

	.queue-list{
		width: 85%;
		height: 100%;
		margin-bottom:100%;
		margin-right: 10%;
	}

	.more-det2{
		margin-right: 35%;
		margin-top: 8%;
	}

	.s-det{
		width: 60%;
	}

	.s-det p {
		font-size: 1rem;
	}

	.player{
		margin-left: 0%;
	}

	.p1{
		font-size: 1rem;
		margin-left: 28%;
	}

	.more-options{
		font-size: 1rem;
		width: 20%;
		margin-left: 0;
	}

}


@media screen and (max-width:1024px){
	#nav-right{
		margin-left: 25%;
	}

	.search-bar{
		width: 6rem;
	}

	.play-song {
		width: 32%;
	}

}

@media screen and (max-width: 950px){

	.play-song{
		width: 45%;

	}

	.p1{
		font-size: 1.2rem;
		margin-left: 20%;
	}


	.player{
		margin-left: -10%;
	}

	.more-options{
		width: 20%;
	}

}


@media screen and (max-width: 839px){

	#nav-right{
		margin-left: 5%;
	}

	.artistImg{
		width: 7.5rem;
		height: 7.5rem;
		margin-right: 0;
	}

	.stn-types img {
		width:7.25rem;
		height:7.5rem;
	} 

	.s-det{
		width: 60%;
	}

	.s-det p {
		font-size: 0.7rem;
	}

	.song-img{
		height: 5rem;
		width: 3rem;
	}

	.player{
		margin-left: -10%;
	}

	.p1{
		font-size: 0.8rem;
		margin-left: 12%;
	}

	.more-options{
		font-size: 0.8rem;
		width: 10%;
		margin-right: 0;
		margin-left: 0;
	}

}

@media screen and (max-width: 600px){

	.play-song{
		width: 50%;
	}

	.search-bar{
		width: 2rem;
	}

	.s-det{
		width: 60%;
	}

	.s-det p {
		font-size: 0.7rem;
	}

	.song-img{
		height: 5rem;
		width: 3rem;
	}

	.player{
		margin-left: -10%;
	}

	.p1{
		font-size: 0.8rem;
		margin-left: 12%;
	}

	.more-options{
		font-size: 0.8rem;
		width: 10%;
		margin-right: 0;
		margin-left: 0;
	}

	.release-song{
		width: 100%;
	}

	.song-name{
		font-size: 0.8rem !important ;
	}

	.song-date{
		font-size: 0.6rem !important ;
	}

}
